.clients {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 30px;
  }
  &__item {
    text-align: center;
    padding: 16px 32px;
    border-radius: 5px;
    border: 1px solid #afb1b8;
  }
}
